
/*Total*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    text-align: center;
    width: 100%;
}

/*Margens e fontes*/
.margin{
    margin-top: 30px;
}

.mbottom0{
    margin-bottom: 0;
}

.font12{
    font-size: 12px;  
}

.font14{
    font-size: 14px;
}

.font20{
    font-size: 20px;
}

.font40{
    font-size: 40px;   
}

.fontwhite{
    color: #FFFFFF;
}

.fontgrey{
    color: #888888;
}

.font18bold{
    font-size: 18px;
    font-weight: bold;
}

.font16bold{
    font-size: 16px;
    font-weight: 800;
}

/*Modais*/

.modal {
    display: table;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.8); 
  }

  .modal > p{
    color: #fefefe;
    font-size: 50px;
    margin-top: 250px;
    padding: 10px;
  }

.closemodal {
    color: #aaa;
    float: right;
    font-size: 15px;
    width: 60px;
    height: 30px;
    z-index:4;
    overflow: auto; 
    position: fixed;
    margin-top: 43%;
    margin-left: 40%;
    border-radius: 5px;
}
  
.closemodal:hover{
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.dispnone {
    display: none;
  }

 /*Headers*/
header {
    background: #707070;
    width: 100%;
    margin: 0;
    padding: 0;
    display: inline-table;
}

.headerbutton {
    width: 100%;
    height: auto;
    margin: 0;
    background: #707070;
    z-index: 1;
}

/*Botões header*/
ul{
    background: #707070;
    list-style-type: none;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.headblock {
    background: white;
    width: 70%;
    height: 40px;
    border-radius: 3px;
    margin: 25px;
    margin-left: 50px;
    margin-right: 50px;
    color: #888888;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

/*Produtos*/
.bigcontainer{
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.bigcontainer > div {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    text-align: left;  
}

.prodbutton{
    width: 100%;
    height: 30px;
    border-radius: 3px;
    margin: 10px;
    color: #888888;
    border: 1px solid #DCDCDC;
    margin-left: auto;
    margin-right: auto;
}

/*Botão + Produtos*/
.moreprodbutton{
    width: 20%;
    height: 39px;
    border-radius: 3px;
    color: #888888;
    border: 1px solid #DCDCDC;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
 }

 /*Email*/
 .formemail{
    width: 200px;
    height: 30px;
 }

.emailcontainer{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

 .divemail{
    text-align: left;
    float: left;
    margin-left: 50px;

}

/*Footer*/
footer {
    background: #707070;
    width: 100%;
    height: 120px;
    margin: 0;
    display: table;
    box-sizing: border-box;
}

/*Query*/
@media (max-width: 1300px){

    .font12{
        font-size: 10px;
    }

    .font14{
        font-size: 10px;
    }

    .font20{
        font-size: 14px;
    }

    .font40{
        font-size: 25px;
    }

    .headblock {
        width: 40%;
        height: 18px;
        font-size: 8px;
        margin: 6px;
    }

    .bigcontainer{
        display: grid;
        grid-template-columns: auto;
    }

    .emailcontainer{
        display: grid;
        grid-template-columns: auto;
    }

    ul{
        display: grid;
        grid-template-columns: auto;
    }

    .formemail{
        width: 200px;
        height: 30px;
     }

     .divemail{
        margin-left: 0px;
    
    }

    .modal {
        display: none;
      }

    .closemodal {
        display: none;
    }

      .closemodal {
        font-size: 10px;
        width: 50px;
        height: 25px;
        margin-top: 70%;
        margin-left: 20%;
        z-index:4;
    }

    .moreprodbutton{
        width: 50%;
        height: 30px;
        font-size: 12px;
     }
}

